<div class="offer-element" [routerLink]="['/offer/',Id]">
  <div class="offer-container">
    <div class="company-logo">
      <img src="/assets/images/logo.png" style="height:25px">
    </div>
    <div class="offer-details-container">
      <span class="offer-title">{{title}}</span>
      <div class="offer-details">
        <span>{{companyName}}</span>
      </div>
      <div class="offer-info">
        <span class="m_r-10 location">
          <img class="location-ico" src="assets/images/icons/location-ico.svg">
          <span>{{location}}</span>
        </span>
        <span class="slash m_r-10 worktype">
          <span *ngFor="let wt of worktype">
            {{wt.name}}
          </span>
        </span>
        <span class="slash m_r-10 experience">
          <span *ngFor="let e of experience">
            {{e.name}}
          </span>
        </span>
        <span class="m_r-10 position">
          <span>{{position.name}}</span>
        </span>
      </div>
    </div>
    <div class="offer-salary">
      <span>{{salaryMin}}zł - {{salaryMax}}zł</span>
    </div>
  </div>
</div>
