.offer-container{
    display: flex;
    justify-content: space-between;
}

.offer-details-container{
    display: flex;
    flex-direction: column;
}

.offer-details{
    display: flex;
}

.offer-title{
    font-weight: 500;
}

.offer-element{
  
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.company-logo{
    align-self: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
}
