<div class="wrapper">
    <div class="navbar">
        <div class="nav-container">
          <div>
            <a routerLink="/"><img class="logo" src="/assets/images/logo.png"></a>
          </div>
          <div class="nav-btn-container">
            <button class="btn btn-light">Post a Job</button>
          </div>
        </div>
      </div>
    <div class="panel-wrapper">
        <div class="left-panel">
            <ul class="list-group">
                <li [ngClass]="{'active' : currentRoute === 'settings'}" class="list-item"  [routerLink]="['settings']">Account Settings</li>
                <li [ngClass]="{'active' : currentRoute === 'manage'}" class="list-item" [routerLink]="['manage']">Manage Job Offers</li>
                <li class="list-item">Archived</li>
                <li class="list-item">Candidates</li>
                <li class="list-item">Inbox</li>
                <li class="list-item">Statistics</li>
                <li class="list-item" id="logout">Logout</li>
              </ul>
        </div>
        <div class="main-panel">
          <router-outlet></router-outlet>
        </div>
    </div>
</div>

