<div>
    <table class="table">
        <thead>
          <tr>
            <ng-container *ngFor="let header of headers">
                <th scope="col">{{header}}</th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offer of offers; index as i">
            <td scope="row">{{i}}</td>
            <td>{{offer.title}}</td>
            <td>{{offer.salaryMin}}</td>
            <td>{{offer.salaryMax}}</td>
            <td>{{offer.createdDate}}</td>
            <td class="action-col">
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>