
:host{
    width: 100%;
}

button{
    display: flex;
}
img{
    width: 20px;
}
.search-container{
    position:relative;
    width: 100% !important;
}

.location-options{
    position: absolute;
    background-color: white;
    list-style: none;
}

option{
    padding: 12px 0;
}

.location-options option:hover{
    background-color: #cecece;
}

input{
    height: 50px;
}

.remove-icon{
    position: absolute;
    top:12px;
    right:12px;
}

svg:hover{
    filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(7135%) hue-rotate(74deg) brightness(106%) contrast(106%);
}

