<div class="navbar">
    <div class="nav-container">
      <div>
        <a routerLink="/"><img class="logo" src="/assets/images/logo.png"></a>
      </div>
      <div class="nav-btn-container">
        <span *ngIf="!authenticated">
            <button routerLink="/login" class="btn btn-secondary">Sign In</button>
            <button routerLink="/register" class="btn btn-dark">Register</button>
        </span>
      </div>
      <div *ngIf="authenticated" class="logo-container">
        <span>Logged as <b>{{username}}  </b></span>
        <div class = "img-wrapper">
            <a [routerLink]="['/admin/settings']"><img src="{{photo}}" id="logo"></a>
        </div>
      </div>
    </div>
  </div>